[project]
	description = Wroclaw OpenStack meetup playground
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/CI Bot (ssbarnea-bot)
	owner = group user/Michal Pryc (mpryc)
[access "refs/for/refs/*"]
	read = group user/CI Bot (ssbarnea-bot)
	read = group user/Michal Pryc (mpryc)
	push = group user/Michal Pryc (mpryc)
	label-Code-Review = -2..+2 group user/Michal Pryc (mpryc)
	label-Verified = -1..+1 group user/CI Bot (ssbarnea-bot)
	label-Verified = -1..+1 group user/Michal Pryc (mpryc)
	rebase = group user/Michal Pryc (mpryc)
	removeReviewer = group user/Michal Pryc (mpryc)
	submit = group user/Michal Pryc (mpryc)
[access "refs/heads/*"]
	read = group user/Michal Pryc (mpryc)
	create = group user/Michal Pryc (mpryc)
	push = +force group user/Michal Pryc (mpryc)
	pushMerge = group user/Michal Pryc (mpryc)
	label-Verified = -1..+1 group user/CI Bot (ssbarnea-bot)
[access "refs/tags/*"]
	push = group user/Michal Pryc (mpryc)
	push = +force group user/Michal Pryc (mpryc)
